{{#partial "content"}}

    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="../..">SparkBlog</a>
                <a class="new-entry button button-round" href="../new"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{entry.title}}</h1>
                    <time datetime="2016-01-31 1:00">{{entry.date}}</time>
                    <ul>
                        <li>Tags:</li>
                        {{#each entry.tags}}
                            <li>#{{this}}</li>
                        {{/each}}
                    </ul>
                    <div class="entry">
                        <p>{{entry.text}}</p>
                        <p><a class="link" href="../{{entry.slug}}/edit">Edit Entry</a></p>
                        <p><a class="link" href="../{{entry.slug}}/delete">Delete Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#each entry.commentList}}
                <div class="comment">
                    <strong>{{author}}</strong>
                    <time datetime="2016-01-31 1:00">{{date}}</time>
                    <p>{{text}}</p>
                </div>
            {{/each}}
            <div class="new-comment">
                <form action="/{{entry.slug}}/add-comment" method="post">

                    <label for="name"> Name</label>
                    <input type="text" name="name"><br>

                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>

                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>

{{/partial}}

{{> base.hbs}}